@import "tailwindcss";

.btn-primary {
  @apply px-4 py-2 bg-black text-white rounded cursor-pointer transition hover:bg-gray-800 active:scale-95 disabled:opacity-50 disabled:cursor-not-allowed;
}
.btn-secondary {
  @apply px-4 py-2 bg-gray-200 text-black rounded cursor-pointer transition hover:bg-gray-300 active:scale-95;
}
.btn-danger {
  @apply px-3 py-1 bg-red-600 text-white rounded cursor-pointer hover:bg-red-700 transition;
}
.btn-success {
  @apply px-3 py-1 bg-green-600 text-white rounded cursor-pointer hover:bg-green-700 transition;
}

.btn-blue {
  @apply px-3 py-1 bg-blue-600 text-white rounded cursor-pointer hover:bg-blue-700 transition;
} 

.btn-yellow {
  @apply px-3 py-1 bg-yellow-500 text-white rounded cursor-pointer hover:bg-yellow-600 transition;
}

.btn-purple {
  @apply px-3 py-1 bg-purple-600 text-white rounded cursor-pointer hover:bg-purple-700 transition;
}
